.collapse-container {
  color: #ff6060;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  right: 12px;
  z-index: 2;
}

.arrow.arrow-up {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  top: calc(50% - 4px);
}

.arrow.arrow-down {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  top: calc(50% - 12px);
}

.collapse {
  width: 100%;
}

.collapse-title {
  cursor: pointer;
  background-color: #ff6060;
  border-radius: 5px;
  top: 6px;
}

.collapse-title button {
  background-color: unset;
  border: none;
  color: #fff;
  display: block;
  width: 100%;
  height: inherit;
  padding: 10px;
  text-align: left;
  font-size: clamp(13px, 1.5vw, 24px);
}

.collapse-content-container {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 20px 10px;
}

.collapse-content-list {
  padding-top: 10px;
  gap: 5px;
}

.collapse-tooltip {
  top: -80px;
  right: 0;
  background-color: #f4f4f4;
  z-index: 10;
  padding: 10px;
  font-size: clamp(10px, 1vw, 12px);
  max-width: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.collapse-tooltip:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #f7f7f7;
  transform: rotate(45deg);
  bottom: -6px;
  left: 12px;
  z-index: 9;
  border-radius: 10px 0px 0px 0px;
}
