.page-header {
  padding: clamp(4px, 5%, 40px) clamp(10px, 5%, 80px);
}

.active {
  text-decoration: underline;
}

.header-nav {
  justify-content: space-around;
  max-width: 1440px;
  gap: 20px;
  row-gap: 10px;
  width: 80vw;
}

.nav-logo {
  max-height: 54px;
}

.nav-logo img {
  max-height: inherit;
  width: auto;
}

.nav-list-wrapper {
  list-style-type: none;
  padding: 0;
  gap: 20px;
  text-transform: uppercase;
}

.nav-list-item {
  height: fit-content;
}

.nav-links {
  font-size: clamp(12px, 2.5vw, 24px);
  color: #ff6060;
}

@media screen and (min-width: 410px) {
  .header-nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-logo {
    max-height: 68px;
  }
  .nav-list-wrapper {
    text-transform: unset;
  }
}
