.page-header {
  padding: clamp(4px, 5%, 40px) clamp(10px, 5%, 80px);
}

.active {
  text-decoration: underline;
}

.header-nav {
  max-width: 1920px;
  gap: 20px;
  justify-content: space-around;
}

.nav-logo {
  max-height: 54px;
  max-width: max-content;
  margin: auto;
}

.nav-logo img {
  max-height: inherit;
  width: auto;
}

.nav-list-wrapper {
  list-style-type: none;
  padding: 0;
  gap: 20px;
  margin: auto;
}

.nav-list-item {
  height: fit-content;
}

.nav-links {
  color: #ff6060;
}

@media screen and (min-width: 768px) {
  .header-nav {
    justify-content: space-between;
  }
  .nav-logo {
    margin: auto auto auto 0;
    max-height: 68px;
  }
  .nav-list-wrapper {
    margin: auto 0 auto auto;
  }
}
