.tag {
  border-radius: clamp(3px, 0.5vw, 10px);
  padding: 2px clamp(14px, 2vw, 20px);
  background-color: #ff6060;
  color: #fff;
  font-weight: 500;
  font-size: clamp(10px, 1vw, 14px);
  min-width: 84px;
}
