@import url('./css/utils/reset.css');
@import url('./css/utils');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  gap: clamp(20px, 5vw, 40px);
  width: min-content;
}

#root {
  min-height: 100vh;
  row-gap: 24px;
  overflow-x: hidden;
}

[tabindex='0']:focus,
a:focus,
button:focus {
  outline: solid 3px #ff6060;
  outline-offset: 4px;
}
