@import url('./css/utils/reset.css');
@import url('./css/utils');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  margin: 24px auto;
  gap: clamp(20px, 5vw, 40px);
  width: min-content;
}

#root {
  min-height: 100vh;
}

[tabindex='0']:focus,
a:focus,
button:focus {
  outline: solid 3px rgb(255, 96, 96);
  outline-offset: 4px;
}
