.error-container {
  color: #ff6060;
  margin-bottom: clamp(32px, 12vh, 100px);
}

.error-code {
  font-size: clamp(42px, 30vw, 290px);
  font-weight: 700;
}

.error-message {
  font-size: clamp(18px, 3vw, 36px);
}

.return-home-link {
  font-size: 18px;
  text-decoration: underline;
}
